body {
  margin: 0px;
  font-family: sans-serif,cantarell,helvetica;
}

#journaltable {
  width: 100%;
}

#header {
  font-family: sans-serif,cantarell,helvetica;
  text-align: center;
  font-size: 26px;
  font-weight: bold;
  width: 100%;
  padding: 20px;
}

.title {
  font-family: sans-serif,cantarell,helvetica;
  color: #fff;
  font-size: 18px;
  font-weight: bold;
  color: #3D4E9C;
  width: 100%;
}

.desc_td {
  vertical-align: top;
  width: 100%;
}

.desc_table {
  background-color: #CCD4FB;
  font-size: 14px;
  width: 100%;
}

.download_link {
  display:block;
  text-decoration: none;
  color: #000;
  font-weight: bold;
  font-size: 18px;
  background-color: #CCCCCC;
  width: 150px;
  text-align:center;
  padding:4px;
  text-decoration:none;
  border-radius: 10px;
}

.download_link:hover, .download_link:active {
  background-color:#EEEEEE;
}

img {
  padding: 5px;
  border:1px solid gray;
}
